{% extends 'front.html.twig' %}
{% block title %}RadioHub | Profile
{% endblock %}
{% block body %}
	<style>
		#delete {
			padding: 0.5rem 1.5rem;
			background-color: #ce3134da;
			color: white;
			text-align: center;
			border-radius: 8px;
			transition: 0.3s;
		}
		#delete:hover {
			background-color: #ce3134;
		}
		#profile {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			box-shadow: -5px 5px 10px;
		}
		.nice-select .list {
			height: 150px;
			overflow-y: scroll;
		}
	</style>

	<div class="d-flex w-75 mx-auto align-items-center gap-5 my-5">
		<img {% if app.user.brochureFileName !="x" %} src="{{ asset('uploads/pdp/' ~ app.user.brochureFileName) }}" {% else %} src="./contact.png" {% endif %} id="profile" class="img-fluid object-fit-cover" alt="img"/>

		<div class="d-flex gap-5">
			<div class="d-flex flex-column gap-3">
				<b>Name</b>
				<b>Last Name</b>
				<b>Email</b>
				<b>Gender</b>
				<b>Date</b>
				<b>Role</b>

				<a class="mt-3" onclick="return confirm('Are you sure you wanna Delete your Account')" id="delete" href="{{ path('app_delete_user_profile', { id: app.user.id }) }}">Delete Account</a>
			</div>
			<div class="d-flex flex-column gap-3">
				<p>{{ app.user.name }}</p>
				<p>{{ app.user.lastname }}</p>
				<p>{{ app.user.email }}</p>
				<p>{{ app.user.gender }}</p>
				<p>{{ app.user.dateBirth | date('Y / m / d') }}</p>
				<p>
					{% if is_granted("ROLE_DOCTOR") %}
						DOCTOR
					{% endif %}
					{% if
        is_granted("ROLE_PATIENT") %}
						Patient
					{% endif %}
					{% if
        is_granted("ROLE_RADIOLOGIST") %}
						Radiologist
					{% endif %}
					{% if
        is_granted("ROLE_ADMIN") %}
						Admin
					{% endif %}
				</p>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}{% endblock %}
