{% extends 'back.html.twig' %} {% block body %}

<div class="container-fluid py-5">
  <div class="card">
    <div class="card-body">
      <a
        href="{{ path('app_admin_user') }}"
        class="btn btn-danger h-25 align-self-start px-4 fs-5"
        ><i class="ti ti-arrow-back"></i
      ></a>
      <div class="d-flex gap-2 justify-content-center">
        <h1 class="text-center mb-5 align-self-baseline">
          Update Doctor <b>[ {{ user.id }} ]</b>
        </h1>
      </div>
      {{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-1 '}}
      )}}
      <div class="d-flex flex-column w-50 mx-auto gap-3">
        {{ form_widget(form.matricule,{'attr':{'class':'form-control px-3 py-2'


        }})}}
        {{ form_errors(form.matricule) }}
        {{ form_widget(form.user,{'attr':{'class':'select-form px-3 py-2'


        }})}}
        <button class="btn btn-primary" type="submit">Update</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
