{{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'd-flex gap-5 flex-column w-50 mx-auto my-5'}}) }}
<div class="d-flex flex-row gap-3">
    {{ form_widget(form.Prenom_Donateur,{'attr':{'class':'form-control p-2'}}) }}
    <div class="form-error-message">{{ form_errors(form.Prenom_Donateur) }}</div>
</div>
    {{ form_widget(form.Nom_Donateur,{'attr':{'class':'form-control p-2'}}) }}
    <div class="form-error-message">{{ form_errors(form.Nom_Donateur) }}</div>

</div>

<style>
    .form-error-message {
        color: red;
        margin-top: 5px;
        font-size: 14px;



    }
</style>
<div class="d-flex flex-row">
    {{ form_widget(form.Email,{'attr':{'class':'form-control p-2'}}) }}
    <div class="form-error-message">{{ form_errors(form.Email) }}</div>

    {{ form_widget(form.Telephone,{'attr':{'class':'form-control p-2'}}) }}
    <div class="form-error-message">{{ form_errors(form.Telephone) }}</div>

</div>
{{ form_widget(form.Type_Donateur,{'attr':{'class':'form-control p-2'}}) }}
<button class="btn w-25 mx-auto">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}