<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
        ul li {
            color: red;
        }
        form {
            width: 70%;
            margin: auto; /* Centering the form horizontally */
            margin-top: 50px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .form-control {
            padding: 0.5rem;
            width: calc(50% - 1rem); /* Adjusted width */
            box-sizing: border-box; /* Ensure padding doesn't increase width */
            margin: auto; /* Centering the input horizontally */
        }
        button[type="submit"] {
            width: 50%; /* Adjusted width */
            margin: auto; /* Centering the button horizontally */
            margin-top: 1rem;
        }
        .alert {
            margin-top: 1rem;
            text-align: center;
        }
    </style>
</head>
<body>

<form method="POST" action="{{ path('app_donateur_edit', {'id': donateur.id}) }}" novalidate class="form-group">
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_widget(form.First_Name_Donor, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.First_Name_Donor) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.Last_Name_Donor, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Last_Name_Donor) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.Email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Email) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.Phone_Number, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Phone_Number) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.Donor_Type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Donor_Type) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(form) }}
</form>
<br><br><br><br><br><br><br><br>

<div class="alert alert-info" role="alert">
    Need help or have questions? Contact our support team at support@radiohub.com.
</div>

</body>
</html>
