{% extends 'front.html.twig' %} {% block title %}RadioHub | Sign{% endblock %}
{% block body %}

<style>
  ul li {
    color: rgba(255, 0, 0, 0.8);
  }
  .list li {
    color: #222 !important;
  }
  .sign-container {
    height: 400px;
  }
  input {
    font-size: 15px !important;
  }
  .nice-select .list {
    overflow: scroll;
    height: 150px;
  }
</style>
<center>
  <h1 class="display-5">Doctor</h1>
</center>
<div class="d-flex justify-content-center gap-5 sign-container my-5">
  <img
    class="img-fluid sign-img"
    src="../../front/img/sign/doctor-sign-img.jpeg"
    alt="doctor-sign-img"
  />
  {{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-5'}} )}}
  <div class="d-flex flex-column w-100 mx-auto gap-3">
    <div class="d-flex gap-3">
      <div class="d-flex flex-column w-50">
        {{ form_widget(form.doctor.name,{'attr':{'class':'form-control px-3 py-2'










        }}) }}

        {{ form_errors(form.doctor.name) }}
      </div>
      <div class="d-flex flex-column w-50">
        {{ form_widget(form.doctor.lastname,{'attr':{'class':'form-control px-3 py-2'














        }}) }} {{ form_errors(form.doctor.lastname) }}
      </div>
    </div>
    <div class="d-flex gap-3">
      <div class="d-flex flex-column w-50">
        {{ form_widget(form.doctor.email,{'attr':{'class':'form-control px-3 py-2'














        }}) }}
        {{ form_errors(form.doctor.email) }}
      </div>
      <div class="d-flex flex-column w-50">
        {{ form_widget(form.doctor.password,{'attr':{'class':'form-control px-3 py-2'






        }}) }}
        <p class="error text-danger mt-2"></p>
      </div>
    </div>
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.doctor.matricule,{'attr':{'class':'form-control px-3 py-2'














      }}) }}
      {{ form_errors(form.doctor.matricule) }}
    </div>
    <div class="d-flex gap-3">
      <div class="d-flex flex-column">
        {{ form_widget(form.doctor.gender) }}
        {{ form_errors(form.doctor.gender) }}
      </div>
      {{ form_widget(form.doctor.date_birth,{'attr':{'class':'d-flex gap-1 justify-content-center'
      }}) }}
    </div>

    <div style="display: none">
      <label
        style="white-space: nowrap; cursor: pointer"
        for="form_user_brochureFilename"
        class="required d-flex flex-column align-items-center"
      >
        <img width="40px" src="../upload-btn.png" alt="Upload img" />Upload IMG
      </label>
      {{ form_widget(form.doctor.brochureFilename) }}
    </div>
    <button type="submit" class="btn w-50 mx-auto">Submit</button>
  </div>
  {{ form_end(form) }}
</div>

{% endblock %} {% block footer %} {% endblock %} {% block javascripts %}
<script src="../front/js/custom.js"></script>
{% endblock %}
