{% extends 'front.html.twig' %} {% block body %}

<style>
  ul li {
    color: rgba(255, 0, 0, 0.8);
  }
  .list li {
    color: #222 !important;
  }
</style>
<center>
  <h1 class="display-5 mt-3">Patient</h1>
</center>
{{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-5'}} )}}
<div class="d-flex flex-column w-50 mx-auto gap-3">
  <div class="d-flex gap-3">
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.user.name,{'attr':{'class':'form-control px-3 py-2'}})
      }}

      {{ form_errors(form.user.name) }}
    </div>
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.user.lastname,{'attr':{'class':'form-control px-3 py-2'




      }}) }} {{ form_errors(form.user.lastname) }}
    </div>
  </div>
  <div class="d-flex gap-3">
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.user.email,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.user.email) }}
    </div>
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.user.password,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.user.password) }}
    </div>
  </div>
  <div class="d-flex gap-3">
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.patient.cas_med,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.patient.cas_med) }}
    </div>
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.patient.n_cnam,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.patient.n_cnam) }}
    </div>
  </div>
  <div class="d-flex gap-3">
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.patient.assurance,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.patient.assurance) }}
    </div>
    <div class="d-flex flex-column w-50">
      {{ form_widget(form.patient.num_assurance,{'attr':{'class':'form-control px-3 py-2'




      }}) }}
      {{ form_errors(form.patient.num_assurance) }}
    </div>
  </div>

  <div class="d-flex gap-3">
    <div class="d-flex flex-column">
      {{ form_widget(form.user.gender) }}
      {{ form_errors(form.user.gender) }}
    </div>
    {{ form_widget(form.user.date_birth,{'attr':{'class':'d-flex gap-1 justify-content-center'



    }}) }}
  </div>

  <button type="submit" class="btn w-25 mx-auto">Submit</button>
</div>
{{ form_end(form) }}
{% endblock %}
