{% extends 'front.html.twig' %}
{% block title %} RAD {% endblock %}
{% block header %}{% endblock %}
{% block footer %} {% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ asset('../../../front/css/customradio.css') }}" />
<li class="active">
  <a href="{{ path('app_home') }}">Home</a>
</li>
<li><a href="#">Doctors </a></li>
<li><a href="#">Reclamation </a></li>
<li><a href="#">Blog </a></li>
<li><a href="#">Contact Us</a></li>
{% endblock %}

{% block auth %}{% if app.user %}
<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
  <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
    <li class="nav-item dropdown">
      <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="contact.png" alt="" width="35" height="35" class="rounded-circle" />
      </a>

      <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
        <div class="message-body">
          <a href="{{ path('app_profile') }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-user"></i>
            <p class="mb-0 fs-3">
              <span style="text-transform: capitalize">{{ app.user.name }} Profile</span>
            </p>
          </a>
          <a href="{{ path('app_settings',{'id':app.user.id}) }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-gear"></i>
            <p class="mb-0 fs-3">Settings</p>
          </a>
          {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('app_admin') }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-lock"></i>
            <p class="mb-0 fs-3">Dashboard</p>
          </a>
          {% endif %}

          <a id="logout" href="{{ path('app_logout') }}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endif %} {% endblock %}

{% block body %}
<div class="container">
  <br><br>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10 form-container">
      <h2 style="color: #0047AB;margin-bottom: 20px; text-align: center; font-family: 'Georgia, serif', sans-serif;">RADIOLOGIST FORM</h2>

      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

      <div class="d-flex flex-column">
        <label class="inputs" for="{{ form.interpretation_rad.vars.id }}" class="">Final Interpretation:</label>
        {{ form_widget(form.interpretation_rad, {'attr': {'class': 'form-control '}}) }}

        {% if form_errors(form.interpretation_rad) %}
            <div class="text-danger">
                {{ form_errors(form.interpretation_rad) }}
            </div>
        {% endif %}
      </div>
      <div class="d-flex justify-content-around">

        <div class="d-flex flex-column">
          <label class="inputs" for="{{ form.id_doctor.vars.id }}" class="">Assign to Doctor:</label>
          {{ form_widget(form.id_doctor, {'attr': {'class': 'form-control select2 w-100'}}) }}
          {% if form_errors(form.id_doctor) %}
            <div class="text-danger">
                {{ form_errors(form.id_doctor) }}
            </div>
          {% endif %}
        </div>

        

      <div class="form-group">
      <br>
        <button type="submit" class="btn btn-primary btn-submit mt-3 w-100">Save</button>
        </br>
      </div>

      {{ form_end(form) }}
    </div>
  </div>
</div>
<script>
  // Activate select2 plugin for select inputs
  $(document).ready(function () {
    $('.select2').select2();
  });
</script>
{% endblock %}
