{% extends 'base.html.twig' %}

{% block title %} RAD {% endblock %}

{% block header %}
    <!-- You can override the header block if needed -->
    {{ parent() }} <!-- This includes the content of the parent block (base template's header) -->
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5"> <!-- Center the form -->
        <div class="col-lg-6 col-md-8 col-sm-10">
            <!-- Form content -->
            <h2 style="margin-bottom: 20px;">Formulaire radiologue</h2>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-group">
                <!-- Render the 'interpretation_rad' field -->
                <label for="{{ form.interpretation_rad.vars.id }}" class="custom-label">Interprétation du radiologue</label>
                {{ form_widget(form.interpretation_rad, {'attr': {'class': 'form-control'}}) }}
                {% for error in form.interpretation_rad.vars.errors %}
                    <span class="text-danger">{{ error.message }}</span>
                {% endfor %}
            </div>

            <div class="form-row">
                <!-- Render the 'id_doctor' field -->
                <div class="form-group col-md-6">
                    <label for="{{ form.id_doctor.vars.id }}" class="custom-label">Affecter au Medecin:</label>
                    {{ form_widget(form.id_doctor, {'attr': {'class': 'form-control'}}) }}
                    {% for error in form.id_doctor.vars.errors %}
                        <span class="text-danger">{{ error.message }}</span>
                    {% endfor %}
                </div>

                <!-- Render the 'id_image' field -->
                <div class="form-group col-md-6">
                    <label for="{{ form.id_image.vars.id }}" class="custom-label">Image Médicale de :</label>
                    {{ form_widget(form.id_image, {'attr': {'class': 'form-control'}}) }}
                    {% for error in form.id_image.vars.errors %}
                        <span class="text-danger">{{ error.message }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <!-- Render the submit button -->
                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
            </div>

            {{ form_end(form) }}
            <!-- End Form content -->
        </div>
    </div>
</div>
{% endblock %}
