{% extends "front.html.twig" %} {% block title %}RadioHub | Appointment{%
endblock %} {% block body %}
<style>
  form {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 8px;
  }
</style>
<div class="d-flex w-75 mx-auto" style="gap: 2rem">
  <img
    style="height: 500px; object-fit: cover"
    class="w-75"
    src="../../front/img/IRM_illustration_.jpg"
    alt="img"
  />

  {{ form_start(form,{'attr':{'novalidate':'novalidate','class':'w-100'}})}}

  <div style="gap: 1rem" class="d-flex flex-column w-100 mx-auto">
    <h1 class="text-center my-5">Book an appointment</h1>

    <div class="d-flex" style="gap: 0.5rem">
      <div class="d-flex flex-column w-100">
        {{ form_widget(form.nomPatient, {'attr': {'class': 'form-control'   }})
        }} {{ form_errors(form.nomPatient,{'attr':{'class':'text-danger'}}) }}
      </div>
      <div class="d-flex flex-column w-100">
        {{ form_widget(form.prenomPatient, {'attr': {'class': 'form-control'}})
        }} {{ form_errors(form.prenomPatient,{'attr':{'class':'text-danger'}})
        }}
      </div>
    </div>
    <div class="d-flex" style="gap: 0.5rem">
      <div class="d-flex flex-column w-100">
        {{ form_widget(form.mailPatient, {'attr': {'class': 'd-flex',   }}) }}
        {{ form_errors(form.mailPatient,{'attr':{'class':'text-danger'}}) }}
      </div>
    </div>
    <div class="d-flex" style="gap: 0.5rem">
      <div class="d-flex flex-column w-100">
        {{ form_widget(form.dateRV, {'attr': {'class': 'form-control'   }}) }}
        {{ form_errors(form.dateRV,{'attr':{'class':'text-danger'}}) }}
      </div>
    </div>
    <div class="d-flex" style="gap: 0.5rem">
      <div class="d-flex flex-column w-100">
        {{ form_widget(form.typeExam, {'attr': {'class': 'd-flex',   }}) }}
        {{ form_errors(form.typeExam,{'attr':{'class':'text-danger'}}) }}
      </div>
    </div>
    

    <a href="{{ path('app_booked_appointment') }}"
      ><button type="submit" class="btn btn-primary mx-auto w-25">
        Send
      </button></a
    >
  </div>

  {{ form_end(form) }}
</div>
{% endblock %} {% block footer %} {% endblock %}
