{% extends "back.html.twig" %}

{% block title %}RadioHub | Appointment {% endblock %}

{% block body %}

<div style="display: flex; flex-direction: column; align-items: center; background-color: beige; padding: 20px;">

    <h2 style="margin-top: 100px;">Appointment details </h2>
   
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Nom Patient</th>
                <td>{{ rendez_vou.user.lastname }}</td>
            </tr>
            <tr>
                <th>Prenom Patient</th>
                <td>{{ rendez_vou.user.name }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ rendez_vou.salle.numSalle }}</td>
            </tr>
            <tr>
                <th>Date RV</th>
                <td>{{ rendez_vou.dateRV ? rendez_vou.dateRV|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type Exam</th>
                <td>{{ rendez_vou.typeExam }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 20px;">
        <a href="{{ path('app_rendez_vous_index') }}">back to list</a>
        <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>
    </div>
   
    {{ include('rendez_vous/_delete_form.html.twig') }}
</div>

{% endblock %}
