{% extends 'back.html.twig' %} {% block body %}

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">
        Update USER <b>{{ app.user.id }}</b
        ><br />
        <span style="text-transform: capitalize">
          [ {{ app.user.name }} {{ app.user.lastname }} ]
        </span>
      </h1>
      {{ form_start(f,{'attr':{'novalidate': 'novalidate','class':'my-5'}}
      )}}
      <div class="d-flex flex-column w-50 mx-auto gap-3">
        <div class="d-flex gap-3">
          {{ form_widget(f.name,{'attr':{'class':'form-control px-3 py-2'}}) }}
          {{ form_widget(f.lastname,{'attr':{'class':'form-control px-3 py-2'

          }}) }}
        </div>
        <div class="d-flex gap-3">
          {{ form_widget(f.email,{'attr':{'class':'form-control px-3 py-2'}}) }}
          {{ form_widget(f.plainPassword,{'attr':{'class':'form-control px-3 py-2'


          }}) }}
        </div>
        <div class="d-flex gap-3">
          {{ form_widget(f.gender,{'attr':{'class':''}}) }}
          {{ form_widget(f.date_birth,{'attr':{'class':'d-flex gap-1 justify-content-center'
          }}) }}
        </div>

        {{ form_widget(f.SignUp,{'attr':{'class':'btn btn-primary w-25 mx-auto'

        }}) }}
      </div>
      {{ form_end(f) }}
    </div>
  </div>
</div>
{% endblock %}
