{% extends 'back.html.twig' %}
{% block body%}

	<style>
		ul li:not(.sidebar-item) {
			color: rgba(255, 0, 0, 0.8);
			padding-left: 10px;
		}
		.list li {
			padding-left: 0;
			color: #222 !important;
		}
		select {
			padding: 0.5rem 1rem;
			border-radius: 8px;
			border: 1px solid rgba(128, 128, 128, 0.8);
		}
		.badge {
			padding: 8px 15px;
			margin: 0 2px;
			border-radius: 15px;
			color: #fff;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		}
	</style>
	{# ! ----------------- Choices -------------------- #}

	<div class="container-fluid">
		<div class="card">
			<div class="card-body d-flex justify-content-around gap-5">
				<a href="{{ path('app_admin_patient') }}" class="btn btn-primary w-50">Patient</a>
				<a href="{{ path('app_admin_doctor') }}" class="btn btn-primary w-50">Doctor</a>
				<a href="{{ path('app_admin_radiologist') }}" class="btn btn-primary w-50">Radiologist</a>
			</div>
		</div>
	</div>
	{# ! ----------------- Table -------------------- #}

	<div class="card">
		<div class="card-body">
			<h2 class="text-center">Users Table</h2>
			<div class="d-flex my-4 gap-2">
				<input id="search" class="form-control" placeholder="Search" type="text"/>
				<select id="select" class="form-select" style="width: 200px">
					<option selected value="">All</option>
					<option value="Admin">Admins</option>
					<option value="Patient">Patients</option>
					<option value="Doctor">Doctors</option>
					<option value="Radiologist">Radiologists</option>
				</select>
			</div>

			<table class="table">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col" style="white-space: nowrap">Last Name</th>
					<th scope="col">Role</th>
					<th scope="col">Email</th>
					<th scope="col" style="white-space: nowrap">Profile Picture</th>
					<th scope="col">Actions</th>
				</tr>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.name | capitalize }}</td>
						<td>{{ user.lastname | capitalize }}</td>
						<td>
							{% for role in user.roles %}
								{% if role == "ROLE_USER" %}
									<span class="badge" style="background-color: rgb(49, 124, 223)">
										User
									</span>
								{% endif %}
								{% if role == "ROLE_DOCTOR" %}
									<span class="badge" style="background-color: rgb(240, 96, 0)">
										Doctor
									</span>
								{% endif %}
								{% if role == "ROLE_WAITING_DOCTOR" %}
									<span class="badge" style="background-color: #333">
										<i class="ti ti-reload"></i>
										Waiting
									</span>
								{% endif %}
								{% if role == "ROLE_RADIOLOGIST" %}
									<span class="badge" style="background-color: rgba(91, 20, 206, 0.795)">
										Radiologist
									</span>
								{% endif %}
								{% if role == "ROLE_ADMIN" %}
									<span class="badge" style="background-color: #ffd700">
										Admin
									</span>
								{% endif %}
								{% if role == "ROLE_PATIENT" %}
									<span class="badge" style="background-color: rgb(0, 189, 110)">
										Patient
									</span>
								{% endif %}
								{% if role == "ROLE_WAITING_RADIOLOGIST" %}
									<span class="badge" style="background-color: #333">
										<i class="ti ti-reload"></i>
										Waiting
									</span>
								{% endif %}
							{% endfor %}
						</td>
						<td>{{ user.email }}</td>
						<td>
							{% if user.brochureFileName =='x' %}
								<a class="text-nowrap" href="{{ asset('contact.png')}} " alt="Brochure">View PDP</a>
							{% else %}
								<a class="text-nowrap" href="{{ asset('uploads/pdp/' ~ user.brochureFileName) }}" alt="Brochure">View PDP</a>
							{% endif %}
						</td>
						<td class="d-flex gap-2">
							<a href="{{ path('app_update_user', { id: user.id }) }}" class="btn btn-success">Update</a>
							<a href="{{ path('app_delete_user', { id: user.id }) }}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				{% endfor %}

			</table>
			{{knp_pagination_render(users,'admin/pagination.html.twig')}}

		</div>
	</div>
	{# ! ----------------- ADD + Statistics -------------------- #}
	<div class="container-fluid py-0 d-flex gap-3">
		<div class="card w-75">
			<div class="card-body">

				<h1 class="text-center mb-5">Add Users</h1>
				{{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-1'}}
				)}}
				<div class="d-flex flex-column w-100 mx-auto gap-3">
					<div class="d-flex gap-3">
						<div class="d-flex flex-column w-50">
							{{ form_widget(form.name,{'attr':{'class':'form-control px-3 py-2'  }})}}
							{{ form_errors(form.name) }}
						</div>
						<div class="d-flex flex-column w-50">
							{{ form_widget(form.lastname,{'attr':{'class':'form-control px-3 py-2'  }}) }}
							{{ form_errors(form.lastname) }}
						</div>
					</div>
					<div class="d-flex gap-3">
						<div class="d-flex flex-column w-50">
							{{ form_widget(form.email,{'attr':{'class':'form-control px-3 py-2'    }})}}
							{{ form_errors(form.email) }}
						</div>
						<div class="d-flex flex-column w-50">
							{{ form_widget(form.password,{'attr':{'class':'form-control px-3 py-2'    }}) }}
							{{ form_errors(form.password) }}
						</div>
					</div>
					<div class="d-flex gap-3">
						<div class="d-flex flex-column w-25">
							{{ form_widget(form.gender,{'attr':{'class':'form-select'}}) }}
							{{ form_errors(form.gender) }}
						</div>
						{{ form_widget(form.date_birth,{'attr':{'class':'d-flex gap-1 justify-content-center h-50'}}) }}
						<label style="white-space: nowrap; cursor: pointer" for="user_brochureFilename" class="required d-flex flex-column align-items-center">
							<img width="40px" src="../upload-btn.png" alt="Upload img"/>Upload IMG
						</label>
						<div style="display: none">
							{{ form_widget(form.brochureFilename) }}
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Add</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="card">
			<div class="card-body d-flex flex-column align-items-center gap-5">
				<h1 class="fs-6">User Statistics 📈</h1>
				<div id="breakup"></div>
				<div class="d-flex align-items-center gap-3">
					<div class="d-flex gap-2 align-items-center">
						<span style="background-color: #0075db" class="round-8 rounded-circle d-inline-block"></span>
						<span class="fs-2">Patient</span>
					</div>
					<div class="d-flex gap-2 align-items-center">
						<span style="background-color: #78b9f2" class="round-8 rounded-circle d-inline-block"></span>
						<span class="fs-2">Doctor</span>
					</div>
					<div class="d-flex gap-2 align-items-center">
						<span style="background-color: #00315c" class="round-8 rounded-circle d-inline-block"></span>
						<span class="fs-2">Radiologist</span>
					</div>
				</div>
				<h1 id="numPatient" hidden>{{ patient }}</h1>
				<h1 id="numDoctor" hidden>{{ doctor }}</h1>
				<h1 id="numRadiologist" hidden>{{ radiologist }}</h1>
			</div>
		</div>
	</div>
	{# ! ----------------- Notifications -------------------- #}

</div>{% endblock %}{% block javascripts %}
<script src="../front/js/custom.js"></script>{% endblock %}{% block notification %}
<div class="navbar-collapse justify-content-start px-0" id="navbarNav">
	<ul class="navbar-nav flex-row align-items-center justify-content-end">
		<li class="nav-item dropdown">
			<a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="ti ti-bell-ringing"></i>
				{% if notification | length != 0 or notification_radio | length != 0%}
					<div class="notification bg-primary rounded-circle"></div>
				{% endif %}
			</a>
			<div class="dropdown-menu dropdown-menu-start justify-content-start dropdown-menu-animate-up" aria-labelledby="drop2">

				<div class="message-body ">
					<p class="mb-0 fw-bold fs-3 px-2">Doctors 👨‍⚕️</p>
					<div style="background-color:#D9D9D9" class="dropdown-divider"></div>
					{% if notification | length == 0 %}
						<p class="mb-0 fw-bold fs-3 px-2">No Notifications ❌</p>
					{% endif %}
					{% for notif in notification %}

						<div class="d-flex gap-5 justify-content-between text-capitalize align-items-center px-3 my-3">

							<p class="mb-0 fs-3 text-nowrap">{{ notif }}
								|
								<span class="fs-1 text-danger">
									{{notif}}</span>
							</p>
							<div class="d-flex gap-1">
								<a href="{{ path('app_proof', { id: notif.id }) }}" class="btn btn-success">
									<i class="ti ti-check"></i>
								</a>
								<a href="{{ path('app_trash', { id: notif.id }) }}" class="btn btn-danger">
									<i class="ti ti-trash"></i>
								</a>
								<a href="{{ path('app_user_pdf', { id: notif.id }) }}" class="btn btn-dark">
									<i class="ti ti-download"></i>
								</a>
							</div>
						</div>
					{% endfor %}
					<br>
					<p class="mb-0 fw-bold fs-3 px-2">Radiologists 🏥</p>
					<div style="background-color:#D9D9D9" class="dropdown-divider"></div>
					{% if notification_radio | length == 0 %}
						<p class="mb-0 fw-bold fs-3 px-2">No Notifications ❌</p>
					{% endif %}
					{% for notif in notification_radio %}
						<div class="d-flex gap-5 justify-content-between text-capitalize align-items-center px-3 my-3">
							<p class="mb-0 fs-3 text-nowrap">{{ notif }}
								|
								<span class="fs-1 text-danger">
									{{notif}}</span>
							</p>
							<div class="d-flex gap-1">
								<a href="{{ path('app_proof_radio', { id: notif.id }) }}" class="btn btn-success">
									<i class="ti ti-check"></i>
								</a>
								<a href="{{ path('app_trash_radio', { id: notif.id }) }}" class="btn btn-danger">
									<i class="ti ti-trash"></i>
								</a>
								<a href="{{ path('app_user_pdf', { id: notif.id }) }}" class="btn btn-dark">
									<i class="ti ti-download"></i>
								</a>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</li>
	</ul>
</div>{% endblock %}
