{% extends 'front.html.twig' %}

{% block title %} MED {% endblock %}
{% block footer %} {%endblock%}
{% block auth %}
{% if app.user %}
<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="../contact.png" alt="" width="35" height="35" class="rounded-circle" />
            </a>

            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                    <a href="{{ path('app_profile') }}" class="d-flex align-items-center gap-2 dropdown-item">
                        <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
                      " class="fa-solid fa-user"></i>
                        <p class="mb-0 fs-3">
                            <span style="text-transform: capitalize">{{ app.user.name }} Profile</span>
                        </p>
                    </a>
                    <a href="{{ path('app_settings',{'id':app.user.id}) }}"
                        class="d-flex align-items-center gap-2 dropdown-item">
                        <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
                      " class="fa-solid fa-gear"></i>
                        <p class="mb-0 fs-3">Settings</p>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}" class="d-flex align-items-center gap-2 dropdown-item">
                        <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
                      " class="fa-solid fa-lock"></i>
                        <p class="mb-0 fs-3">Dashboard</p>
                    </a>
                    {% endif %}

                    <a id="logout" href="{{ path('app_logout') }}"
                        class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</div>

{% else %}
<a href="{{ path('app_register') }}" class="btn">Sign up</a>
<a href="{{ path('app_login') }}" class="btn ml-3">Log in</a>

{% endif %}
{% endblock %}

{% block body %}
    

    {{ include('ordonnance/_form.html.twig') }}

    <a href="{{ path('app_doctor') }}">back to list</a>
{% endblock %}
