{% extends 'back.html.twig' %} 
{% block body %}
<style>
    ul li {
        color: rgb(231, 1, 1);
        font-weight: 700;
    }
</style>
<div class="container-fluid py-5">
    <div class="card">
        <div class="card-body">
            <a href="{{ path('app_admin_user') }}" class="btn btn-danger h-25 align-self-start px-4 fs-5">
                <i class="ti ti-arrow-back"></i>
            </a>
            <div class="d-flex gap-2 justify-content-center">
                <h1 class="text-center mb-5 align-self-baseline">Add Radiologist</h1>
            </div>
            {{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-1 '}}) }}
            <div class="d-flex flex-column w-50 mx-auto gap-3">
                {{ form_widget(form.matricule,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.matricule,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.email,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.email,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.password,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.password,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.name,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.name,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.lastname,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.lastname,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.date_birth,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.date_birth,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.gender,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.gender,{'attr':{'class':'alert alert-danger '}}) }}

                {{ form_widget(form.brochureFilename,{'attr':{'class':'form-control px-3 py-2' }}) }}
                {{ form_errors(form.brochureFilename,{'attr':{'class':'alert alert-danger '}}) }}

                <button class="btn btn-primary" type="submit">Add</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container-fluid py-0">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Radiologists Table</h2>
                <table class="table">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Mat_cnom</th>
                        <th scope="col">Actions</th>
                    </tr>
                    {% for radiologist in radiologists %}
                    <tr>
                        <td>{{ radiologist.id }}</td>
                        <td>{{ radiologist.name }}</td>
                        <td>{{ radiologist.matricule }}</td>
                        <td class="d-flex gap-2">
                            <a href="{{ path('app_update_radiologist', { id: radiologist.id }) }}" class="btn btn-success">Update</a>
                            <a href="{{ path('app_delete_radiologist', { id: radiologist.id }) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
