{% extends 'back.html.twig' %} {% block body %}

<div class="container-fluid py-5">
  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 justify-content-center">
        <a
          href="{{ path('app_admin_user') }}"
          class="btn btn-danger h-25 align-self-start"
          ><i class="ti ti-arrow-back"></i
        ></a>
        <h1 class="text-center mb-5 align-self-baseline">Add Radiologist</h1>
      </div>
      {{ form_start(form,{'attr':{'novalidate': 'novalidate','class':'my-1 '}}
      )}}
      <div class="d-flex flex-column w-50 mx-auto gap-3">
        {{ form_widget(form.mat_cnom,{'attr':{'class':'form-control px-3 py-2'





        }})}}
        {{ form_errors(form.mat_cnom) }}
        {{ form_widget(form.user,{'attr':{'class':'select-form px-3 py-2'





        }})}}

        <button class="btn btn-primary" type="submit">Update</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
