{% extends 'front.html.twig' %}
{% block title %}Blog
{% endblock %}
{% block
body %}

	<style>
		.btn {
			color: white !important;
		}
		#profile-picture {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
		}
	</style>
	<div class="container mt-4">
		<a class="btn btn-primary mb-3" href="{{ path('app_blog') }}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card mb-4">
					<img src="{{ asset('articles/' ~ articles.image) }}" class="card-img-top" alt="{{ articles.title }}" style="width: 100%"/>
					<div class="card-body">
						<h1 class="card-title">{{ articles.title }}</h1>
						<p class="card-text">{{ articles.content }}</p>
						<p class="card-text text-muted">
							{{ articles.createdAt | date('Y-m-d') }}
						</p>
					</div>
				</div>
				{% if app.user %}

					<div class="row">
						<div class="col-md-12">
							<div class="card mb-4">
								<div class="card-body">
									{{ form_start(comment) }}
									{{
                form_row(comment.content, {
                  attr: {
                    placeholder: "Saisir votre commentaire",
                    class: "py-2 px-3 w-100"
                  },
                  label: false
                })
              }}
									<button type="submit" class="btn btn-primary mt-3 float-right">
										<i class="fa-solid fa-location-arrow"></i>
									</button>
									{{ form_end(comment) }}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-md-12">
						{% if existingComments is not empty %}

							<h5 class="display-4 text-center">Comments</h5>
							<hr>
							{% for comment in existingComments %}
								<div class="card mb-4">
									<div class="card-body">

										<ul class="list-unstyled">
											<li class="mb-3">
												<div class="d-flex align-items-center gap-2 mb-4">
													<img src="{{ asset('uploads/pdp/' ~ comment.iduser.brochureFileName) }}" id="profile-picture" alt="pdp"/>
													<h6>
														{{ comment.iduser.name }}
														{{ comment.iduser.lastname }}
													</h6>
												</div>

												<p class="mb-1">{{ comment.content }}</p>
												<small class="text-muted">{{ comment.createdAt | date('Y-m-d H:i') }}</small>
												{% if replyForms[comment.id] is defined and app.user %}
													<div class="reply-form mt-3">
														{{ form_start(replyForms[comment.id]) }}
														{{
                      form_row(replyForms[comment.id].content, {
                        attr: { placeholder: "Votre réponse" },
                        label: false
                      })
                    }}
														<button type="submit" class="btn btn-sm btn-primary my-3">
															Reply
														</button>

														{% if app.user and comment.iduser.id == app.user.id %}
															<a href="{{ path('app_comment_front_delete', { id: comment.id}) }}" class="btn btn-sm btn-danger my-3">Delete</a>
														{% endif %}
														{{ form_end(replyForms[comment.id]) }}
													</div>
												{% endif %}
											</li>
										</ul>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>

				{# ! ------------------------------- #}
			</div>
		</div>
	</div>
{% endblock %}
