{% extends 'back.html.twig' %} {% block title %}RadioHub | Blog{% endblock %} {%
block body %}
<style>
  #image {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
  }
</style>

<div class="container-fluid">
  <div class="card">
    <h1 class="text-center py-2">Show Articles</h1>
    <div class="card-body">
      <div class="album">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Image</th>
                <th>Comment Count</th>
                <!-- Nouvelle colonne pour le nombre de commentaires -->
                <th colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in articlesWithCommentCount %}
              <tr>
                <td>{{ item.article.id }}</td>
                <td>{{ item.article.title }}</td>
                <td>{{ item.article.content|striptags|slice(0,250) }}</td>
                <td>
                  {{ item.article.createdAt ? item.article.createdAt|date('Y-m-d H:i:s') : '' }}
                </td>
                <td>
                  <img
                    src="{{ asset('articles/' ~ item.article.image) }}"
                    class="card-img-top"
                    id="image"
                    alt="..."
                  />
                </td>
                <td>{{ item.commentCount }}</td>
                <!-- Affichez le nombre de commentaires -->
                <td>
                  <div class="d-flex gap-2">
                    <a
                      class="btn btn-success"
                      href="{{
                        path('app_article_show', { id: item.article.id })
                      }}"
                      >show</a
                    >
                    <a
                      class="btn btn-danger"
                      href="{{
                        path('app_article_edit', { id: item.article.id })
                      }}"
                      >edit</a
                    >
                  </div>
                </td>
              </tr>
              {% else %}
              <tr>
                <td colspan="7">no records found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <a
      class="btn btn-primary w-25 mx-auto mb-5"
      href="{{ path('app_article_new') }}"
      >Create new</a
    >
  </div>
</div>
{% endblock %}
