{% extends 'front.html.twig' %}

{% block title %} MED {% endblock %}
{%block footer%} {% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ asset('../../../front/css/customdoctor.css') }}" />

<li class="active">
  <a href="{{ path('app_home') }}">Home</a>
</li>
<li><a href="#">Doctors </a></li>
<li><a href="#">Reclamation </a></li>
<li><a href="#">Dons </a></li>
<li><a href="#">Blog </a></li>
<li><a href="#">Contact Us</a></li>

{% endblock %} {% block auth %} {% if app.user %}
<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
  <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
    <li class="nav-item dropdown">
      <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="contact.png" alt="" width="35" height="35" class="rounded-circle" />
      </a>

      <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
        <div class="message-body">
          <a href="{{ path('app_profile') }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-user"></i>
            <p class="mb-0 fs-3">
              <span style="text-transform: capitalize">{{ app.user.name }} Profile</span>
            </p>
          </a>
          <a href="{{ path('app_settings',{'id':app.user.id}) }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-gear"></i>
            <p class="mb-0 fs-3">Settings</p>
          </a>
          {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('app_admin') }}" class="d-flex align-items-center gap-2 dropdown-item">
            <i style="
                filter: invert(67%) sepia(6%) saturate(8%) hue-rotate(329deg)
                  brightness(78%) contrast(81%);
              " class="fa-solid fa-lock"></i>
            <p class="mb-0 fs-3">Dashboard</p>
          </a>
          {% endif %}

          <a id="logout" href="{{ path('app_logout') }}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
        </div>
      </div>
    </li>
  </ul>
</div>

{% else %}
<a href="{{ path('app_register') }}" class="btn">Sign up</a>
<a href="{{ path('app_login') }}" class="btn ml-3">Log in</a>

{% endif %} {% endblock %}


{% block body %}

<div class="page-container">

  <div class="content-container">
    <h2 style=" text-transform: uppercase; font-family: 'Courier New', monospace; color: #300c7c;">doctor {{
      app.user.lastname }} {{ app.user.name }}'s space</h2>
    <br></br>
    <div class="search-container">
      <input type="text" id="searchInput" onkeyup="searchItems()" placeholder="Search for anything..">
    </div>

    <div class="content-wrapper">
      <div class="content-column">
        <h3 style=" font-weight: bold; font-family: 'Courier New', monospace;"> Pending list </h3>
        <br></br>
        {% if compteRendus|length > 0 %}
        {% for compteRendu in compteRendus %}
        <div class="item">
          <p class="item_title">Patient: {{ compteRendu.idImage.patient.user.name }} {{
            compteRendu.idImage.patient.user.lastname }}</p>
          <p>Radiologist: {{ compteRendu.idImage.radiologist.user.name }} {{
            compteRendu.idImage.radiologist.user.lastname }}</p>
          <p class="item_interpretation">Radiologist's interpretation : {{ compteRendu.InterpretationRad }}</p>
          <a href="{{ path('add_decision', {'id': compteRendu.id}) }}" class="button">Add interpretation</a>
        </div>
        {% endfor %}
        {% else %}
        <p>No Report Pending.</p>
        {% endif %}
      </div>
      <div class="content-column">
        <h3 style=" font-weight: bold;font-family: 'Courier New', monospace;">History</h3>
        <br></br>
        {% if done|length > 0 %}

        {% for compteRendu in done %}

        <div class="item">
          <button onclick="downloadPdf('{{ path('generate_pdf', {'id': compteRendu.id}) }}')">Download PDF</button>
          <p class="item_title">Patient: {{ compteRendu.idImage.patient.user.name }} {{
            compteRendu.idImage.patient.user.lastname }}</p>
          <p>Radiologist: {{ compteRendu.idImage.radiologist.user.name }} {{
            compteRendu.idImage.radiologist.user.lastname }}</p>
          <p class="item_interpretation">Radiologist's interpretation : {{ compteRendu.InterpretationRad }}</p>
          <p class="item_interpretation">Doctor’s interpretation: {{ compteRendu.interpretationMed }}</p>
          <p class="item_date">Date: {{ compteRendu.date|date('Y-m-d') }}</p>
          {% if prep == null %}
          <a href="{{ path('app_prescription_new', {'compteRenduId': compteRendu.id}) }}" class="button">Create
            Prescription</a>
          {% endif%}
          {% for p in prep%}
          {% if p.compterendu.id == compteRendu.id %}
          <a href="{{ path('generate_prescription', {'id': p.id}) }}" class="button"> Prescription PDF</a>
          {% else %}
          <a href="{{ path('app_prescription_new', {'compteRenduId': compteRendu.id}) }}" class="button">Create
            Prescription</a>
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
        {{ knp_pagination_render(done) }}
        {% else %}
        <p>No History yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- JavaScript function to download the PDF -->
<script>
  function downloadPdf(pdfUrl) {
    // Send an AJAX request to generate the PDF
    var xhr = new XMLHttpRequest();
    xhr.open('GET', pdfUrl, true);
    xhr.responseType = 'blob';

    xhr.onload = function () {
      if (xhr.status === 200) {
        // Create a blob URL for the PDF
        var blobUrl = URL.createObjectURL(xhr.response);

        // Create a link element and trigger the download
        var a = document.createElement('a');
        a.href = blobUrl;
        a.download = 'compte_rendu.pdf';
        document.body.appendChild(a);
        a.click();

        // Clean up
        document.body.removeChild(a);
        URL.revokeObjectURL(blobUrl);
      }
    };

    xhr.send();
  }

  function searchItems() {
    // Declare variables
    var input, filter, items, i, itemTitle, itemInterpretation, itemDate;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    items = document.getElementsByClassName("item");

    // Loop through all items and hide those that don't match the search query
    for (i = 0; i < items.length; i++) {
      itemTitle = items[i].getElementsByClassName("item_title")[0];
      itemInterpretation = items[i].getElementsByClassName("item_interpretation")[0];
      itemDate = items[i].getElementsByClassName("item_date")[0]; // Assuming you have a class "item_date" for date elements

      // Check if any of the item content matches the search query
      if (itemTitle.innerText.toUpperCase().indexOf(filter) > -1 ||
        itemInterpretation.innerText.toUpperCase().indexOf(filter) > -1 ||
        (itemDate && itemDate.innerText.toUpperCase().indexOf(filter) > -1)) {
        items[i].style.display = "";
      } else {
        items[i].style.display = "none";
      }
    }
  }

</script>
{% endblock %}