{% extends 'front.html.twig' %}

{% block title %}
Radiohub | Doctor
{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('../../../front/css/customdoctor.css') }}" />
{% endblock %}

{% block body %}
<style>
  body {
    background-image: url('../image/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    color: #333;
  }

  .content-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 500px;
  }

  h2 {
    color: #0047AB;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .search-container input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .content-column {
    flex: 1;
  }

  h3 {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative; /* Added to position the button absolutely */
	
  }

  .item_title, .item_interpretation, .item_date {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .item p {
    margin: 5px 0;
  }

  .button:hover {
    background-color: #003580;
  }

  .download-button,
  .prescription-button {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  .prescription-button {
    background-color: #4CAF50;
  }

  .download-button:hover {
    background-color: #e54e4e;
  }

  .prescription-button:hover {
    background-color: #45a049;
  }

  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  @media (max-width: 768px) {
    .content-wrapper {
      flex-direction: column;
    }

    .download-button,
    .prescription-button {
      position: static;
      display: inline-block;
      margin-top: 10px;

    }
  }
</style>

<div class="page-container">
  <div class="content-container">
    <h2>Doctor {{ app.user.lastname }} {{ app.user.name }}'s Space</h2>
    <div class="search-container">
      <input type="text" class="form-control py-2 px-3 w-75 mx-auto mb-5" id="searchInput" onkeyup="searchItems()" placeholder="Search for anything..">
    </div>
    <div class="content-wrapper">
      <div class="content-column">
        <h3>Pending list</h3>
        {% if Reports|length > 0 %}
          {% for report in Reports %}
          <div class="item">
            <p class="item_title">Patient: {{ report.image.patient.name }} {{ report.image.patient.lastname }}</p>
            <p>Radiologist: {{ report.image.radiologist.name }} {{ report.image.radiologist.lastname }}</p>
            <p class="item_interpretation">Radiologist's interpretation: {{ report.InterpretationRad }}</p>
            <a href="{{ path('add_decision', {'id': report.id}) }}" class="button">Add interpretation</a>
          </div>
          {% endfor %}
        {% else %}
          <p>No Report Pending.</p>
        {% endif %}
      </div>
      <div class="content-column">
        <h3>History</h3>
        {% if done|length > 0 %}
          {% for report in done %}
          <div class="item">
            <a  href="{{ path('generate_pdf', {'id': report.id}) }}" class="download-button">REPORT PDF</a>
            {% for p in prep %}
              {% if p.report.id == report.id %}
                <a href="{{ path('generate_prescription', {'id': p.id}) }}" class="prescription-button">PRESCRIPTION PDF</a>
                <br><br>
              {% endif %}
            {% endfor %}
            <p class="item_title">Patient: {{ report.image.patient.name }} {{ report.image.patient.lastname }}</p>
            <p>Radiologist: {{ report.image.radiologist.name }} {{ report.image.radiologist.lastname }}</p>
            <p class="item_interpretation">Radiologist's interpretation: {{ report.InterpretationRad }}</p>
            <p class="item_interpretation">Doctor’s interpretation: {{ report.interpretationMed }}</p>
            <p class="item_date">Date: {{ report.date|date('Y-m-d') }}</p>
            {% if prep == null %}
              <a href="{{ path('app_prescription_new', {'reportId': report.id}) }}" class="button">Create Prescription</a>
            {% endif %}
            {% for p in prep %}
              {% if p.report.id != report.id %}
                <a href="{{ path('app_prescription_new', {'reportId': report.id}) }}" class="button">Create Prescription</a>
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
          {{ knp_pagination_render(done) }}
        {% else %}
          <p>No History yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- JavaScript function to download the PDF -->
<script>
	function downloadPdf(pdfUrl) { // Send an AJAX request to generate the PDF
		var xhr = new XMLHttpRequest();
		xhr.open('GET', pdfUrl, true);
		xhr.responseType = 'blob';

		xhr.onload = function () {
			if (xhr.status === 200) { // Create a blob URL for the PDF
				var blobUrl = URL.createObjectURL(xhr.response);

				// Create a link element and trigger the download
				var a = document.createElement('a');
				a.href = blobUrl;
				a.download = 'compte_rendu.pdf';
				document.body.appendChild(a);
				a.click();

				// Clean up
				document.body.removeChild(a);
				URL.revokeObjectURL(blobUrl);
			}
		};

		xhr.send();
	}

	function searchItems() { // Declare variables
		var input,
			filter,
			items,
			i,
			itemTitle,
			itemInterpretation,
			itemDate;
		input = document.getElementById("searchInput");
		filter = input.value.toUpperCase();
		items = document.getElementsByClassName("item");

		// Loop through all items and hide those that don't match the search query
		for (i = 0; i < items.length; i++) {
			itemTitle = items[i].getElementsByClassName("item_title")[0];
			itemInterpretation = items[i].getElementsByClassName("item_interpretation")[0];
			itemDate = items[i].getElementsByClassName("item_date")[0];
			// Assuming you have a class "item_date" for date elements

			// Check if any of the item content matches the search query
			if (itemTitle.innerText.toUpperCase().indexOf(filter) > -1 || itemInterpretation.innerText.toUpperCase().indexOf(filter) > -1 || (itemDate && itemDate.innerText.toUpperCase().indexOf(filter) > -1)) {
				items[i].style.display = "";
			} else {
				items[i].style.display = "none";
			}
		}
	}</script>
{% endblock %}