{% extends 'base.html.twig' %}

{% block title %} MED {% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="width: 50%; text-align: center;">
            {% if medname %}
                <h2 style="margin-bottom: 20px;">Espace Du Docteur {{ medname[0].username }}</h2>
            {% endif %}
            
            <div style="display: flex;">
                <div style="width: 50%; border-right: 1px solid #ccc; padding-right: 10px;">
                    <h3>En Attente</h3>
                    {% if compteRendus|length > 0 %}
                        {% for compteRendu in compteRendus %}
                            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                                <p>Radiologist: {{ compteRendu.idImage.radiologist.username }}</p>
                                <p>Patient: {{ compteRendu.idImage.patient.username }}</p>
                                <a href="{{ path('add_interprétation', {'id': compteRendu.id}) }}" style="display: inline-block; background-color: #007bff; color: #fff; padding: 8px 16px; text-decoration: none; border-radius: 4px;">Ajouter interprétation</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Pas  Compte Rendu en attente.</p>
                    {% endif %}
                </div>
                <div style="width: 50%; padding-left: 10px;">
                    <h3>Historique  </h3>
                    {% if done|length > 0 %}
                        {% for compteRendu in done %}
                            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                                <p>Radiologist: {{ compteRendu.idImage.radiologist.username }}</p>
                                <p>Patient: {{ compteRendu.idImage.patient.username }}</p>
                                <p>Interprétation du médecin: {{ compteRendu.interpretationMed }}</p>
                                <p>Date: {{ compteRendu.date|date('Y-m-d') }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No Compte Rendu édité.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
